# deps
node_modules
.cache

# env / secrets
.env
*.local

# vcs / ide
.git
.gitignore
.vscode
.idea

# logs
npm-debug.log
yarn-error.log

# dev-only configs
.eslint*
.stylelint*
knip.json
postcss.config.cjs

# misc
.DS_Store
