# Node
node_modules/
npm-debug.log*

# Env
.env

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.cache/

data/
postcss.config.js
.stylelintrc.json

Wheel of Next.rar
node_modules/.package-lock.json
tools/
knip.json
eslint.config.mjs
analysis-report.json
